.navigation {
  margin-bottom: 0;
  width: 100%;
  background-color: #08070e;
  // background-color: #fff;
  border: none;
  border-radius: 0;
  min-height: 80px;
  font-family: $robotoRegular;
  .navbar-brand {
    // padding: 25px 120px 25px 0;
    margin-right: 50px;
  }
  li {
    a {
      color: #fff;
      font-size: 18px;
      border-top: solid 5px transparent;
      padding: 25px 20px;
      &:hover {
        color: #e00015;
        border-top-color: #e00015;
        background: none;
      }
      &:focus {
        background: none;
      }
    }
    &.active {
      a {
        color: #e00015;
        border-top-color: #e00015;
        background: none;
      }
    }
  }
  .navbar-toggle {
    span {
      background-color: #fff;
    }
  }
}

@media all and (max-width: 768px)  {
  .navigation {
    .navbar-collapse {
      max-height: none;
    }
  }
}