$robotoRegular: 'RobotoSlab-Regular';
$robotoLight: 'RobotoSlab-Light';
$robotoBold: 'RobotoSlab-Bold';
$brandonBold: 'Brandon-Bold';
$brandonMedium: 'Brandon-Medium';

@font-face {
  font-family: $robotoBold;
  src: url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
  font-family: $robotoRegular;
  src: url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: $robotoLight;
  src: url('../fonts/RobotoSlab-Light.ttf');
}

@font-face {
  font-family: $brandonBold;
  src: url('../fonts/Brandon_bld.otf');
}

@font-face {
  font-family: $brandonMedium;
  src: url('../fonts/Brandon_med.otf');
}

@import '_general';
@import '_navbar_button';
@import '_navigation';
@import '_intro_block';
@import '_about_block';
@import '_skill_block';
@import '_education_block';
@import '_experience_block';
@import '_portfolio_block';
@import '_contact_block';